.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 110px;
    top: 355px;
    width: 120px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 360px;
    top: 50px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 90px;
    left: 380px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    width: 450px;
    z-index: 3;
  }